:root{
    --purple: #24053E;
    --green:#44FFA1;
    --grey: #584D62;
    --rose:#FCF8FF;

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Fraunces;
    src: url("assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf") format('truetype');

    font-family: Manrope;
    src: url("assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}

body{
    font-family: Manrope;
    line-height: 32px;
    font-size: 18px;
    color: var(--purple);
}

header{
    background-color: var(--purple);
    color: white;
    padding: 20px;
    display: flex;
}

a{
    text-decoration: none;
}

a:visited{
    color: white;
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 20px;
}

section h1{
    width: 635px;
}


h1, h2, h3{
    font-family: Fraunces;
    
}

.link{
    font-weight: 600;
}

.link::after{
    
    content:"";
    float: left;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: var(--green);
    
}

.header_section{
    background-color: var(--purple);
    color: white;
    border-bottom-left-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    height: 100%;
    width: 130%;
    transform: translate(-10%,0%);
    text-align: center;
    box-shadow: 0px 13px 15px -13px #111;

}
.spiral_left{
    position:absolute;
    transform: translate(-142%, -20%);
}
.spiral_right{
    position: absolute;
}

.underlined{
    text-decoration: underline;
    text-decoration-color: var(--green);
}

.heading_s{
    font-size: 32px;
    line-height: 40px;
}

.heading_m{
    font-size: 56px;
    line-height: 64px;
}

.heading_l{
    font-size: 80px;
    line-height: 80px;
}

#logo_header{
    margin-right: auto;
    margin-left: 20px;
}

#link_header{
    margin-right: 20px;
}

